
.weekNameTile {
    background-color: white;
    padding: 20px;
    width: 170px;
    font-size:large;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #cac5c5;
}

.weekDayTile {
    background-color: white;
    height: 300px;
    width: 210px;
    font-size:large;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #cac5c5;
}

.weekDayTileContent {
    padding: 20px;
}

.weekDayTileTimeLabel {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
}

.tileContent {
    padding: 15px;
    display: flex;
    justify-content: flex-start;
}

.stack {
    background-color: #fbf0f3;
    height: 100%;
    width: 100%;
}

.rideAttributes {
    border-radius: 5px;
    padding: 5px;
    height: auto;
    width: 300px;
    background-color: #e8f7f5;

}

.rideDetails {
    border-radius: 5px;
    padding: 5px;
    height: auto;
    width: 170px;
    background-color: #e8f7f5;

}

.arrivalDepartureContent {
    text-align: left;
}

.timeTextField {
    width: 60px;
}

.newRideButton {
    padding: 20px;
    text-align: center;
    height: 80px;
    border-radius: 50px;
    background-color: #31bba7;
    border: #1AB39D;
    color: white;
    font-size: x-large;
}

.newRideButtonContainer {
    padding-top: 50%;
}

.newRideButton:hover {
    background-color: #8dd9ce;
    box-shadow: 2px 2px 4px #cac5c5;
    color: white;
}

.datePickerHeader {
    background-color: white;
    padding: 20px;
    width: 100%;
    font-size:large;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #cac5c5;
}

.tupleButton {
    border-radius: 10px;
}

